.card {
  background: #fff0f6;
  border: 1px solid #fbcfe8;
  border-radius: 12px;
  padding: 20px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #d946ef;
}

.desc {
  margin-bottom: 10px;
  color: #9333ea;
}

.tech {
  display: inline-block;
  background-color: #f472b6;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 0.85rem;
  margin-bottom: 10px;
}

.links a {
  margin-right: 15px;
  color: #d946ef;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

/* ================= DARK MODE ================= */
.darkCard {
  background-color: #020617; /* background dark */
  border: 1px solid #1e293b;
  color: #e5e7eb; /* text color light */
}

.darkCard h3 {
  color: #f9a8d4;
}

.darkCard p {
  color: #d1d5db;
}

.darkCard .tech {
  background-color: #8b5cf6; /* tech badge dark color */
  color: #fff; /* badge text color */
}

.darkLink {
  color: #f9a8d4;
}

.darkLink:hover {
  color: #ec4899;
}
